<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit Patient</title>
</head>
<body>
<div align="center">
    <h1>Edit Patient</h1>
    <br/>
    <form action="#" th:action="@{/patients/save}" th:object="${patient}"
          method="post">

        <table border="0" cellpadding="10">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <td>First name:</td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td>Age:</td>
                <td><input type="number" th:field="*{age}"/></td>
            </tr>
            <tr>
                <td>Length (cm):</td>
                <td><input type="number" th:field="*{length}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <form action="#" th:action="@{/patients/__${patient.id}__/medicines/new}"
          method="post">
        <label for="medicineId">Medicijn toevoegen: </label>
        <select id="medicineId" name="medicineId">
            <option th:each="medicine : ${listMedicines}" th:value="${medicine.id}" th:text="${medicine.name}"></option>
        </select>
        <button type="submit">Save</button>
    </form>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Medicine ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Kind</th>
            <th>Dose</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicine : ${patient.getMedicines()}">
            <td th:text="${medicine.getId()}">Patient ID</td>
            <td th:text="${medicine.getName()}">Name</td>
            <td th:text="${medicine.getDescription()}">Description</td>
            <td th:text="${medicine.getKind()}">Kind</td>
            <td th:text="${medicine.getDose()}">Dose</td>
            <td>
                <a th:href="@{'/patients/' + ${id} + '/medicines/' + ${medicine.id} + '/delete'}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="#" th:action="@{/patients/__${patient.id}__/weight/new}"
          method="post">
        <label for="weightId">Gewicht toevoegen: </label>
        <input id="weightId" name="weightId" type="number"/>
        <button type="submit">Save</button>
    </form>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="weight : ${patient.getWeights()}">
            <td th:text="${weight.weight}">Patient ID</td>
            <td th:text="${weight.getCreate_date()}">Name</td>
        </tr>
        </tbody>
    </table>
    <canvas id="weightChart" width="100" height="100" style="max-width: 500px !important; max-height: 500px !important;"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script defer th:inline="javascript">
        var weightJson = /*[[${patient.getWeightInJson()}]]*/ "";
        if (weightJson) {
            weightJson = JSON.parse(weightJson).reverse();
        }
        console.log(weightJson);

        var data = [];
        var labels = [];

        function addZeroBefore(n) {
            return (n < 10 ? '0' : '') + n;
        }

        for (var i in weightJson) {
            if (weightJson.hasOwnProperty(i)) {
                var curr = weightJson[i];
                data.push(curr.weight);
                labels.push(`${addZeroBefore(curr.create_date.hour)}:${addZeroBefore(curr.create_date.minute)}:${addZeroBefore(curr.create_date.second)}` +
                    ` ${curr.create_date.dayOfMonth}-${curr.create_date.monthValue}-${curr.create_date.year}`);
            }
        }

        var ctx = document.getElementById('weightChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            responsive: true,
            data: {
                labels: labels,
                datasets: [{
                    label: 'Weight',
                    backgroundColor: '#ff0000',
                    borderColor: '#ff0000',
                    data: data,
                    fill: false,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>
</div>
</body>
</html>